.mail {
    &-new {
        padding: 32px;

        .result {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .button-group {
            float: right;

            .is-primary {
                margin-left: 12px;
            }
        }

        .step {
            &-receiver {
                padding: 32px;

                .row-text-input {
                    margin-top: 48px;

                    .ant-input-group-wrapper.input-bar {
                        width: 40%;
                        max-width: 600px;
                        min-width: 250px;
                    }

                    .input-tags {
                        margin-top: 12px;

                        .input-tag {
                            margin-bottom: 8px;
                        }
                    }
                }

                .row-file-input {
                    .input-description {
                        display: block;
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}
