.mail {
    &-new {
        padding: 32px;

        .result {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .button-group {
            float: right;

            .is-primary {
                margin-left: 12px;
            }
        }
    }
}
